{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<body>
    <h4>About</h4>
        <br>
    <div class="aboutparagraph">    
        <p>Art Ghetto Collection is a web application designed to enable users to purchase pictures from a range of 
            collections. It is an easy to navigate and straightforward shop providing registered users one or two 
            click access to all pages.</p>
        <p>Users register and login much like they did for Finance and are directed to 
            the homepage with links to View Art, Shopping Cart, About, and Account History.</p>
        <p>View Art allows users to select and browse art collections with premium price tags. 
            A user can click on buy buttons which will display quantity for two seconds and add item to cart.</p>
        <P>The Shopping Cart lists the selected items with product name, price, and quantity. Users can either 
            remove or purchase the pictures. Cart will remain if users logout.</P>
        <p>Account History details all transactions made, with a link to select a breakdown of items 
            purchased within that transaction.</p><br>
        <p><b>Disclaimer:</b>&nbsp;This is a fake web application with pictures selected from opensource website unsplash.com. 
            So, don’t buy them! Payment details are saved to the database. So don’t use real card details!
        </p>
    </div>
        
</body>
{% endblock %}